{% load staticfiles %}
<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset="UTF-8">
	<title>Home Page</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
	<form method="POST">
		{% csrf_token %}
		{{ topic_form }}
		<button type="submit">Submit</button>
	</form>
	<div class='container'>
	  <div class="row">
	    <div class="col-sm">
	      <img src="{% static 'image/IMG_7183.jpg' %}" alt="picture">
	    </div>
	    <div class="col-sm">
	      One of three columns
	    </div>
	    <div class="col-sm">
	      One of three columns
	    </div>
	  </div>
	</div>

</body>
</html>